.hidden {
    display: none;
}

img {
    width: 100%;
    height: 100%;
}

button.btn {
    background-color: var(--text-main);
    color: var(--bg);
    font-size: var(--font-sm);
    font-weight: bold;
    border: 2px solid var(--border);
    padding-inline: 1rem;
    padding-block: .5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: opacity 80ms;
}

button.btn-outline {
    background-color: transparent;
    color: var(--text-main);
}

button:hover {
    opacity: .8;
}

a {
    color: var(--txt-main);
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    transition: text 80ms;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-inline: 1.3rem;
}

.site {
    max-width: var(--container-width);
    width: 100%;
    margin-inline: auto;
}

/* Navbar */
.navbar {
    padding-block: .4rem;
    padding-inline: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
}

.navbar__logo {
    height: 1.3rem;
}

.nav__trigger {
    color: var(--text-main);
    border: none;
    background-color: transparent;
    padding: .25rem;
    cursor: pointer;

    @media (min-width: 1200px) {
        display: none;
    }
}

.nav__menu {
    display: none;
    list-style: none;

    @media (min-width: 1200px) {
        display: flex;
        gap: 1.7rem;
    }
}

.navbar__actions {
    display: none;

    @media (min-width: 1200px) {
        display: flex;
        gap: 1rem;
    }
}

/* Hero */

.hero {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: var(--surface);
}

.hero__bg {
    background-image: url("/mintlify-assets/bg-light.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.hero__cta {
    width: 100%;
    max-width: fit-content;
    border-radius: 1rem;
    padding: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    margin-inline: auto;
    margin-block-start: 3rem;
    margin-block-end: 2rem;
    font-size: var(--font-sm);
}

.hero__cta span {
    background-color: var(--primary);
    padding-inline: 1rem;
    padding-block: .2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__cta svg {
    height: 1.4rem;
}

.hero__title {
    font-size: 1.8rem;
    text-align: center;
    margin-block-end: 1rem;
}

.hero__sub-title {
    font-size: var(--font-base);
    text-align: center;
    max-width: 580px;
    margin-inline: auto;
    margin-block-end: 2rem;
}

.hero__body form {
    width: 100%;
    max-width: 600px;
    background-color: var(--bg);
    display: flex;
    border-radius: 1.2rem;
    overflow: hidden;
    margin-inline: auto;
    padding: .2rem;
}

.hero__body form input {
    background-color: none;
    border: none;
    outline: none;
    color: var(--text-main);
    padding-inline-start: .4rem;
    font-size: var(--font-sm);
    flex-grow: 1;
}

.hero__body form button {
    flex-shrink: 0;
    font-size: var(--font-sm);
}

.hero__image {
    border-radius: var(--radius-lg);
    overflow: hidden;
    margin-block-start: 4rem;
}

@media (min-width: 1200px) {
    .hero__cta {
        font-size: var(--font-base);
    }

    .hero__title {
        font-size: 2.4rem;
    }

    .hero__sub-title {
        font-size: var(--font-lg);
    }

    .hero__cta form input,
    button {
        font-size: var(--font-base);
    }
}

/* Social Proof */

.social-proof {
    padding-block: 2rem;
}

.social-proof .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .4rem;
}

.social-proof .grid__item {
    font-size: var(--lg);
    font-weight: bold;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4rem;
}

@media (min-width: 1200px) {
    .social-proof .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Story */

.story {
    padding-block: 2rem;
    display: flex;
}

.story__card {
    color: var(--bg);
    width: 100%;
    height: auto;
    border-radius: 1rem;
    padding: 2.4rem;
    position: relative;
    overflow: hidden;
}

.story-card__image {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: url("/mintlify-assets/anthropic.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.story__title {
    font-size: var(--font-base);
    font-weight: normal;
    padding-block-end: .4rem;
}

.story__sub-title {
    font-size: var(--font-lg);
    margin-bottom: 1rem;
}

.story__card span {
    font-weight: normal;
}

.story__cluster {
    display: flex;
    align-items: start;
    gap: .5rem;
    padding-block: .8rem;
    width: 100%;
    max-width: 500px;
}

.story__cluster .story__item {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.story__item span {
    font-size: var(--font-xl);
    font-weight: bold;
}

.story__item p {
    font-size: var(--font-base);
    font-weight: normal;
}

@media (min-width: 1200px) {
    .story__card {
        aspect-ratio: 16/7;
        padding: 4.4rem;
    }

    .story__title {
        font-size: var(--font-lg);
    }

    .story__sub-title {
        font-size: var(--font-xl);
        max-width: 60%;
    }
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-block: 2rem;
    padding-inline: 1.3rem;
}

footer h3 {
    font-size: var(--font-base);
    color: var(--text-muted);
    padding-block-end: 1rem;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

@media (min-width: 1200px) {
    footer {
        grid-template-columns: repeat(4, 1fr);
    }
}