/* Fonts & Variables */

@font-face {
    font-family: 'CursorGothic';
    src: url('./fonts/CursorGothic_Regular-s.p.a361088d.woff2') format('.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CursorGothic';
    src: url('./fonts/CursorGothic_Bold-s.p.95169710.woff2') format('.woff2');
    font-weight: bold;
    font-style: normal;
}

:root {
    --color-bg: #14120B;
    --color-fg: #1B1913;
    --color-primary: #EDECEC;
    --color-secondary: #9A8564;
    --color-border: #edecec7c;
    --color-links: #E03E1A;
    --color-links-hover: #FF4D26;

    --font-main: 'CursorGothic', sans-serif;
}

/* Reset Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4{
    font-weight: normal;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

button {
    background-color: transparent;
    color: var(--color-primary);
    border: none;
    box-shadow: none;
}

img {
    width: 50%;
}

/* Utilities Styles */

.btn {
    padding-inline: 14px;
    padding-block: 7px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: var(--color-primary);
    color: var(--color-bg);
}

.btn__icon{
    width: 22px;
}

.btn--lg {
    padding-inline: 27px;
    padding-block: 14px;
    border-radius: 32px;
}

.btn--secondary {
    border: 2px solid var(--color-border);
    background-color: transparent;
    color: var(--color-primary);
}

.link {
    color: var(--color-primary);
    cursor: pointer;
    text-transform: capitalize;
}

.link-secondary {
    color: var(--color-links);
}

/* --------------------------- */

.hover{
    cursor: pointer;
    transition: opacity 80ms;
}

.hover:hover{
    opacity: .80;
}

.card {
    background-color: var(--color-fg);
    border-radius: 12px;
}

.txt-muted {
    color: var(--color-secondary);
}

.bold{
    font-weight: bold;
}

.txt-sm {
    font-size: clamp(14px, 2vw, 17px);
}

.txt-base {
    font-size: clamp(16px, 2vw, 20px);
}

.txt-lg {
    font-size: clamp(26px, 2vw, 32px);
}

.txt-xl {
    font-size: clamp(40px, 2vw, 46px);
}

.txt-2xl {
    font-size: clamp(80px, 2vw, 86px);
}

/* Main Styles */

body{
    font-family: var(--font-main);
    background-color: var(--color-bg);
    color: var(--color-primary);
    display: flex;
    font-size: clamp(16px, 2vw, 22px);
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-inline: 16px;
}

/* Header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding-block: 20px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo__img{
    width: auto;
    height: 24px;
}

.header__nav{
    display: none;
}

.header__actions{
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Hero */

.hero{
    margin-top: 100px;
    margin-bottom: 40px;
}

.hero__btn{
    margin-block-start: 20px;
    margin-block-end: 60px;
}
.hero__media{
    aspect-ratio: 16/9;
    border-radius: 8px;
    overflow: hidden;
    margin-block-end: 60px;
}

.hero__media img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.trust__text{
    text-align: center;
    margin-block-end: 28px;
}

.trust__grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}
.trust__item{
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 3/2;
}
.trust__logo{
    min-height: 2rem;
}

/* Media Query */

@media (min-width: 780px) {

    .btn__icon{
        transform: rotateZ(90deg);
    }

    /* Header */
    .header__nav{
        display: flex;
    }

    .nav__list{
        list-style: none;
        display: flex;
        gap: 38px;
    }

    /* Hero */

    .hero__title{
        padding-inline-end: 30%;
    }

    .trust__grid{
        grid-template-rows: 1fr;
        grid-template-columns: repeat(8, 1fr);
    }
}